body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
}

.logo img {
    margin: 30px;
    max-width: 100%;
    height: auto;
    max-height: 85px;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
}

button {
    font-family: 'Roboto Mono', monospace;
}

#next-button, #back-button {
    background-color: #5bc0de;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
}

#next-button {
    margin-right: 7%;
}

#next-button:hover {
    background-color: #31b0d5;
}

#back-button {
    background-color: #d6d6d6;
    margin-left: 7%;
}

#back-button:hover {
    background-color: #b0b0b0;
}

/* index.html styles */

.welcome-message {
    background-color: #e6f7ff;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.spaced-text {
    line-height: 150%;
}

#generate-button {
    background-color: #5bc0de;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#generate-button:hover {
    background-color: #31b0d5;
}

/* user_type.html styles */
#student-button, #teacher-button {
    background-color: #f0f8ff;
    color: black;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#student-button:hover, #teacher-button:hover {
    background-color: #c8edff;
}

#student-button.active, #teacher-button.active {
    background-color: #5bc0de;
    color: white;
}

/* assingnment_input.html styles */

.progress-indicators {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 30px;
}

.circle.active {
    background-color: #5bc0de;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.mainofmain {
    background-color: #c8edff;
    width: 100%;
    height: 65%;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -120px;
}

.step {
    margin: 30px;
}

.form-container {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

input {
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    font-size: 16px;
}

#assignment-title, #course-name {
    border-radius: 8px;
}

.upload-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.upload-content {
    display: flex;
    align-items: center;
}

.file-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

/* Hide the actual file input */
#assignment-file {
    display: none; /* Hide the file input */
}


/* date_input.html styles */

.input-group {
    display: flex;
    align-items: center;
}

label {
    width: 120px;
    text-align: left;
    font-weight: bold;
    padding-right: 10px;
}

input {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    max-width: 250px;
}


/* Task Display styles */

.task-container {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 30px;
    text-align: left;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 500px;
    height: auto;
    overflow-y: auto;
}

.task-box {
    background-color: white;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    text-align: left;
    line-height: 1.4;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.task-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-message {
    font-size: small;
    background-color: #ffdddd;
    color: #d8000c;
    padding: 7px;
    border: 1px solid #d8000c;
    border-radius: 5px;
    position: fixed;
    bottom: 14%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    animation: fade-in 0.5s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
