<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Assignment Input</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="../static/image/logo.png" alt="Logo" class="logo">
            </a>
        </div>
    </header>
    <div class="progress-indicators">
        <div class="circle active"></div>
        <div class="circle active"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <main>
        <div class="mainofmain">
            <h2 class= "step">2. Provide the name of the Assignment</h2>
            <div class="form-container">
                <input type="text" id="assignment-title" placeholder="Assignment Title" required>
                <input type="text" id="course-name" placeholder="Course Name" required>
            </div>
        </div>
    </main>
    <footer>
        <button id="back-button">Back</button>
        <button id="next-button">Next</button>
    </footer>
    <script src="../static/javascript/error_message.js" defer></script>
    <script src="../static/javascript/assignment_input.js" defer></script>
</body>
</html>
