<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>File Upload</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="../static/image/logo.png" alt="Logo" class="logo">
            </a>
        </div>
    </header>
    <div class="progress-indicators">
        <div class="circle active"></div>
        <div class="circle active"></div>
        <div class="circle active"></div>
        <div class="circle"></div>
    </div>
    <main>
        <div class="mainofmain">
            <h2 class="step">3. Provide an Assignment Description File</h2>
            <div class="form-container">
                <div class="upload-box">
                    <label for="assignment-file" class="upload-label">
                        <div class="upload-content">
                            <img src="..//static/image/5501726.png" alt="File Icon" class="file-icon">
                            <span>Upload Assignment Description</span>
                        </div>
                    </label>
                    <input type="file" id="assignment-file" accept=".txt" required onchange="updateFileName()">
                    <p id="file-name" style="margin-top: 10px; color: #666;">No file chosen</p>
                </div>
                
            </div>
        </div>
    </main>
    <footer>
        <button id="back-button">Back</button>
        <button id="next-button">Next</button>
    </footer>
    <script src="../static/javascript/error_message.js" defer></script>
    <script src="../static/javascript/file_upload.js" defer></script>
</body>
</html>
