<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <title>Task Display</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="../static/image/logo.png" alt="Logo" class="logo">
            </a>
        </div>
    </header>
    <main>
        <div class="task-container">
            <p id="gen-type"></p>
            <h2 id="assignment-title"></h2>
            <p id="due-date"></p>
            <div id="tasks"></ul>
                <!-- Tasks will be populated here dynamically -->
        </div>
    </main>
    <script src="../static/javascript/task_display.js"></script>
</body>
</html>
